@*Typing the @ symbol tells the editor that we want to switch to  using c#!!*@

@{
    //Setting the layout  property to Layout = null, tells MVC that there is no layout page!!!!
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";

}


<h1>@ViewBag.SeriesTitle</h1>
<h2>Issue #@ViewBag.IssueNumber</h2>

<h5>Description:</h5>
<div>@Html.Raw(ViewBag.Description)</div>
@if (ViewBag.Artists.Length > 0)
{
    <h5>Artists:</h5>
    <div>
        <ul>
            @foreach (var item in ViewBag.Artists)
            {
                <li> @item</li>;
            }
        </ul>
    </div>
}

   

